        html {box-sizing:border-box; line-height:1.2rem;}
        *, *:after, *:before {box-sizing:inherit;}
        body {margin:0; padding:0;}

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        /* STRUCTURE */
        body {background-color:/* #334f73 */ #333;}
        #wrapper {width:100%; margin:0 auto;}
        #bkgd_img {background-repeat:no-repeat; background-size:cover; background-image:url(../images/IMG_5936_2.avif);}
        header {padding:18px 71px 0 80px;}
        .logo img {width:5rem;}
        nav {width:428px; height:25px; margin-top:22px; float:right; text-align:right;}
        main { padding:17px 20px 120px 80px;}
        div.deane {width:287px; }
        div.content {width:55%; min-width:400px;margin:40px 40px 0 0; background-color:rgba(255,255,255,0.4); padding:20px; border-radius:5px; line-height:1.4;}
        footer {height:64px; padding:20px 80px; background-color:#c41230; color:white; font-size:.9rem;}
        nav ul {list-style-type:none; margin:0; padding:0; display:flex; justify-content:space-between;}
        .fl {float:left;}
        .fr {float:right;}
        .flex-container, #softwarelist div {display:flex; gap:6px;
            flex-wrap: wrap; padding-top:1rem;}
        #softwarelist div p {background-color:#c41230; color:white; font-weight:400; padding:3px 6px; margin:0; border-radius:6px;}
        table {width:100%; border-collapse:collapse;}

        /* TYPOGRAPHY */
        html, textarea {font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
            }
        h1 {font-size:5rem;
            line-height:4.5rem;
            margin-bottom:1rem;
            letter-spacing:-4px;
            color:#ffdb9a;
            text-shadow:0 1px 5px rgba(0,0,0,.5);
        }
        h2 {margin-bottom:4rem;
        font-weight:400; line-height:1.2;}

        #resume .content h3 {color:#c41230; margin-bottom:0;}
        #resume .content h4 {margin-top:0;}

        h3 {margin-bottom:0;}

        .button {width:224px; text-align:center; background-color:#334f73; color:#fff; padding:18px 0; text-decoration:none; border-radius:5px; font-size:1.2rem; }

        #software th:nth-child(1) {width:40%; text-align:left;}
        #software th:not(:nth-child(1)), #software td:not(:nth-child(1))  {text-align:center;}

        #projects table th, #projects table td {text-align:left; vertical-align:top; padding:3px 0; border-bottom:1px solid black;}

        #projects td:nth-child(1) {padding-right:1rem;}

        /* LINKS */
        nav a:any-link {color:black; text-decoration:none; font-weight:500;}
        nav a:hover, nav a:focus, nav a:active {color:white;}

        /* FORM */
        		/* FORM STRUCTURE */
		input, select, textarea, button {display:block; margin-bottom:6px; padding:6px; border:0; border-radius:5px;}
		input[type=text], input[type=email], select, textarea {width:100%; max-width:400px;}
		input[type=radio] {display:inline; margin:0 10px;}
        select {margin:0 0 20px 0;}


		/* FORM TYPOGRAPHY */
		#form p {margin-bottom:4px;}
		#radio {margin:20px 0;}
		input[type=email] + p {color:red; font-size:.75rem; margin-top:6px;} /* p element following the email element is formatted */
        #contact h3 {margin-bottom:20px;}

		/* FORM BUTTONS */
		button {width:100px; border-radius:6px;}
		button, button:visited {margin-top:20px;background-color:red; color:white; font-weight:bold; border:0;}
		button:hover, button:focus, button:active {background-color:aqua; color:black;}

		button[type=reset], button[type=reset]:visited {background-color:darkkhaki; color:black}
		button[type=reset]:hover, button[type=reset]:focus, button[type=reset]:active {background-color:#999; color:white;}

        /* SMALL PORTFOLIO IMAGES */
        .flex-container figure {width:47%; margin:0 .5rem 0 0; padding:0;}
        .flex-container figure img {width:100%;}
        figcaption {font-size:.8rem; text-align:center; margin:.25rem 0 1rem 0;}